include AUTHORS
include LICENSE
include README.rst
include MANIFEST.in
recursive-include mature_optimization *.py
recursive-include mature_optimization/templates/mature_optimization *.html
prune mature_optimization/*.pyc